/********
Global 
*********/
* {
	margin: 0;
	padding: 0;
	align-self: center;
}

html, body {
	font-family: Century Schoolbook, Arial, Sans-serif;
	line-height: 1.5;
	background-color: #ccc;
	font-size: 18px;
}

* h1 {
	font-size: 22px; 
	color: #567;
	padding: 6px;
}

/***********
Main
************/
main {
	display: flex;
	flex-direction: row;
}
/***********
profile-section
************/
#profile-section {
	width: 30%; 
	
}
#profile-section .container{
	display: flex; 
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 25%;
	flex-direction: column; 
	margin: 10px 25px; 
	background: #fff; text-align: center; line-height: 1.2;
}

/*********
Passport photo
*********/
#profile-section [passport-photo] {
	display: block;
	width: 28%;
	margin: 18px auto 5px;
	height: auto;
	border-radius: 50%;
}
.profile hr{
	width: 80%; 
	margin: 0 auto; 
	border: 1px #306777 solid;
}

nav {
	display: flex;
	flex-direction: column; 
	width: auto;
}
nav a {
	padding: 6px; 
	text-decoration: none; 
	color: #337097;
	font-weight: bold; 
	width: 100%;
}
nav a:hover {
	background-color: #336777;
	color: #fff;
}
nav a.menu-icon {
	display: none;
}

/***************************************
content section
****************************************/
#content-section {
	width: 60%;
	margin not(::first-child): 20px 40px;
}
.main-content {
	background: #fff;
	box-shadow: 4px 2px 4px 2px #333;
	line-height: 1.8;
}
#content-section h2, 
#content-section p {
	padding: 4px 25px;
}
#content-section h2 {
	margin-top: 22px; 
	color: #306777;
}

/****************
Bottom content
****************/
#bottom {
	background: #306777;
	display: flex; 
	flex-direction: column;
	color: #fff;
	margin-top: 20px;
	box-shadow: none;
}
#bottom .bottom-content {
	width: 100%;
	text-align: center;
	margin: 45px 10px;
}
.bottom-content {
	display: flex;
	flex-direction: column;
}
.bottom-content a[download-link] {
	background: #fff;
	color: #306777;
	border-radius: 25px;
}
.bottom-content[social-links] {
	display: flex; 
	flex-direction: row;
	justify-content: center;
}
.bottom-content a {
	padding: 8px 18px;
	text-decoration: none;
	color: #fff;
}
.bottom-content a:hover {
	background: #f4f4f4;
	color:#306777;
	font-weight: bold;
}
#bottom hr {
	width: 60%;
	margin: 0 auto;
	border: 1px #fff solid;
}

/*footer*/
footer {
	min-height: 10vh; 
	background: rgb(7,7,7);
}

/***************************************
Media queries
**************************************/

/*All devices with display upto 320px*/
@media all and (max-width: 768px) {
	/*************
	Change the display flex-direction of main to column
	***************/
	main {
		display: flex;
		flex-direction: column;
	}

	/*
	make the profile section and its children 
	occupy full width
	*/
	#profile-section {
		width: 100vw;
		height: 100%;
	}
	#profile-section .container {
		width: 100vw;
		position: relative;
		top: 0;
		height: 100%;
		margin: 0;
	}

	/**Make content section occupy full width **/
	#content-section {
		width: 100vw;
	}
	.main-content {
		background: #fff;
		box-shadow: none;
		line-height: 1.8;
	}

	#bottom .bottom-content {
		width: 100%;
		min-height: 20vh;
	}
	.bottom-content[social-links] a {
		width: 60%;
	}

	.bottom-content[social-links] {
		display: flex;
		flex-direction: column;
		align-self: center;
		margin: 20px 50px 10px;
	}
	#bottom hr {
		display: none;
	}
}
